# here is a list of required packages, increasing
# in complexity in the middle, and some dust at the end,
# also a link to my github repo.

setuptools>=65.3.0
requests>=2.28.1
pyttsx3>=2.90
websocket_client>=1.4.1
numpy>=1.23.3
matplotlib>=3.5.3
Pillow>=9.2.0
pyopengl pyopengl-accelerate
PyQt5
keras>=2.10.0
tensorflow>=2.10.0
cupy>=11.1.0
vispy>=0.11.0
tensorflow-gpu
torch==1.12.1+cu113 torchvision==0.13.1+cu113 torchaudio==0.12.1+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
openai>=0.23.0
binance>=0.3
colorama>=0.4.5
screeninfo>=0.8.1
stopwords>=1.0.0

# my full library of helper functions, growing in
# modularity every day almost...

# -e https://github.com/venus-revisioner/overhead-0.6.6.git
