# here is a list of required packages, increasing
# in complexity in the middle, and some dust at the end,
# also a link to my github repo.

setuptools
requests
pyttsx3
websocket_client
matplotlib
pyopengl
pyopengl-accelerate
PyQt5
openai
dataclasses
cupy
numpy
keras
tensorflow
tensorflow-gpu
Pillow
opencv-python
pyttsx3
pyttsx3[pywin32]


torch==1.13.1+cu117 -f  https://download.pytorch.org/whl/torch/
torchvision==0.14.1+cu117 -f  https://download.pytorch.org/whl/torchvision/
torchaudio==0.13.1+cu117 -f  https://download.pytorch.org/whl/torchaudio/

colorama
screeninfo
stopwords
nltk
tqdm
pydub
pyaudio
pywin32
pywin32-ctypes

# my full library of helper functions, growing in
# modularity every day almost...

# -e https://github.com/venus-revisioner/overhead-0.6.6.git