binance>=0.3
colorama>=0.4.5
cupy>=11.1.0
keras>=2.10.0
matplotlib>=3.6.0
numpy>=1.23.3
openai>=0.23.1
opencv_python>=4.6.0.66
Pillow>=9.2.0
python_binance>=1.0.16
pyttsx3>=2.90
requests>=2.28.1
screeninfo>=0.8.1
setuptools>=63.2.0
stopwords>=1.0.0
tensorflow>=2.10.0
tensorflow_gpu>=2.10.0
vispy>=0.11.0
websocket_client>=1.4.1
torch==1.12.1+cu116 -f  https://download.pytorch.org/whl/torch/
torchvision==0.13.1+cu116 -f  https://download.pytorch.org/whl/torchvision/
torchaudio==0.12.1+cu116 -f  https://download.pytorch.org/whl/torchaudio/
